/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: 'HelveticaNeue-Light';
  background-color: #f4f3f1;
  text-align: center;
}

/* line 11, ../sass/style.scss */
.main-page {
  background-image: url(../images/sunset.jpg);
  background-size: cover;
  height: 750px;
}

/* line 17, ../sass/style.scss */
.how-it-works {
  border-bottom-width: 1px;
  border-color: rgba(128, 128, 128, 0.3);
  border-style: solid;
  padding-bottom: 70px;
}

/* line 24, ../sass/style.scss */
.why-choose-us {
  border-width: 1px 0 1px 0;
  border-color: white white rgba(128, 128, 128, 0.3) white;
  border-style: solid;
  padding-bottom: 70px;
}

/* line 31, ../sass/style.scss */
.about-us {
  height: 300px;
  border-top-width: 1px;
  border-color: white;
  border-style: solid;
}

/* line 38, ../sass/style.scss */
.bottom-search-container {
  height: 210px;
  background-image: url(../images/sunset.jpg);
  background-size: cover;
  padding-bottom: 70px;
}

/* line 45, ../sass/style.scss */
.bottom-bar {
  padding: 30px;
}

/* line 49, ../sass/style.scss */
.login-signup {
  float: right;
  margin: 25px 100px;
}

/* line 54, ../sass/style.scss */
.common-btn {
  margin: 0 10px;
  background: none;
  border: none;
  font-family: 'HelveticaNeue-Light';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

/* line 65, ../sass/style.scss */
#sign-up {
  border-radius: 3px;
  border: solid white 1px;
  padding: 5px 15px;
  font-size: 16px;
}

/* line 72, ../sass/style.scss */
.search-contrainer {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 50%;
  margin: auto;
}

/* line 80, ../sass/style.scss */
.search-description {
  color: white;
  padding-bottom: 10px;
}

/* line 85, ../sass/style.scss */
#main-des {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

/* line 91, ../sass/style.scss */
#sub-des {
  color: #c8c8c8;
  font-size: 18px;
  padding-bottom: 30px;
}

/* line 97, ../sass/style.scss */
.search-feild {
  display: inline-block;
  width: 600px;
}

/* line 102, ../sass/style.scss */
.input-text {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  height: 56px;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  width: 76%;
  padding-left: 20px;
  color: white;
}

/* line 113, ../sass/style.scss */
.search-button {
  background: #6bdbab;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 20px 20px;
  color: white;
  font-size: 16px;
  width: 20%;
  margin-left: -3px;
}

/* line 124, ../sass/style.scss */
.seperator {
  width: 40px;
  height: 3px;
  background-color: rgba(220, 220, 220, 0.5);
  margin: 10px auto 35px auto;
}

/* line 131, ../sass/style.scss */
.title {
  color: #606779;
  margin: auto;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}

/* line 140, ../sass/style.scss */
.work-flow-container {
  padding-top: 30px;
}

/* line 144, ../sass/style.scss */
.work-flow {
  width: 33%;
  display: inline-block;
}

/* line 149, ../sass/style.scss */
.work-flow-image {
  padding-bottom: 30px;
}

/* line 153, ../sass/style.scss */
.work-flow-title {
  color: #606779;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 160, ../sass/style.scss */
.work-flow-content {
  color: #a7aab0;
  font-size: 18px;
  line-height: 23px;
}

/* line 166, ../sass/style.scss */
.reason-container {
  display: inline-block;
}

/* line 170, ../sass/style.scss */
.reason-item {
  width: 38%;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
}

/* line 178, ../sass/style.scss */
.reason-image {
  float: left;
  clear: left;
  width: 45px;
  display: inline-block;
}

/* line 185, ../sass/style.scss */
.reason-content-container {
  text-align: left;
  display: inline-block;
  width: 80%;
  padding-top: 10px;
}

/* line 192, ../sass/style.scss */
.action-segment {
  display: inline-block;
  margin: auto;
}

/* line 201, ../sass/style.scss */
#bottom-search-feild {
  width: 1300px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 207, ../sass/style.scss */
#bottom-search-des {
  display: inline-block;
}

/* line 211, ../sass/style.scss */
#input-second {
  width: 60%;
  background-color: white;
  color: #606779;
}

/* line 217, ../sass/style.scss */
#bottom-search-des {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 10px;
  width: 15%;
}

/* line 225, ../sass/style.scss */
#search-button-bottom {
  width: 10%;
}

/* line 229, ../sass/style.scss */
.action-segment {
  padding-top: 80px;
  padding-bottom: 40px;
}

/* line 234, ../sass/style.scss */
.action-button {
  background-color: white;
  border-width: 1px;
  border-color: #606779;
  font-family: 'HelveticaNeue-Light';
  font-weight: 500;
  font-size: 18px;
  color: #606779;
  padding: 15px 20px;
  width: 200px;
  margin-left: -4px;
}

/* line 247, ../sass/style.scss */
#button-left {
  border-radius: 4px 0 0 4px;
}

/* line 251, ../sass/style.scss */
#button-right {
  border-radius: 0 4px 4px 0;
}

/* line 255, ../sass/style.scss */
#double-quarter {
  color: #a7aab0;
  font-size: 40px;
  padding-bottom: 30px;
}
