/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: 'HelveticaNeue-Light';
  background-color: #f4f3f1;
  text-align: center;
}

/* line 11, ../sass/style.scss */
.main-page {
  background-image: url(../images/sunset.jpg);
  background-size: cover;
  height: 800px;
}

/* line 17, ../sass/style.scss */
.how-it-works {
  height: 200px;
  border-bottom-width: 1px;
  border-color: rgba(128, 128, 128, 0.3);
  border-style: solid;
}

/* line 24, ../sass/style.scss */
.why-choose-us {
  height: 200px;
  border-width: 1px 0 1px 0;
  border-color: white white rgba(128, 128, 128, 0.3) white;
  border-style: solid;
}

/* line 31, ../sass/style.scss */
.about-us {
  height: 200px;
  border-top-width: 1px;
  border-color: white;
  border-style: solid;
}

/* line 38, ../sass/style.scss */
.login-signup {
  float: right;
  margin: 25px 180px;
}

/* line 43, ../sass/style.scss */
.common-btn {
  margin: 0 10px;
  background: none;
  border: none;
  font-family: 'HelveticaNeue-Light';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

/* line 54, ../sass/style.scss */
#sign-up {
  border-radius: 0px;
  border: solid white 1px;
  padding: 5px 15px;
  font-size: 16px;
}

/* line 61, ../sass/style.scss */
.search-contrainer {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 50%;
  margin: auto;
}

/* line 69, ../sass/style.scss */
.search-description {
  color: white;
  padding-bottom: 10px;
}

/* line 74, ../sass/style.scss */
#main-des {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

/* line 80, ../sass/style.scss */
#sub-des {
  color: #c8c8c8;
  font-size: 18px;
  padding-bottom: 30px;
}

/* line 86, ../sass/style.scss */
.search-feild {
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  width: 600px;
  color: white;
  border-radius: 4px;
}

/* line 94, ../sass/style.scss */
.search-placeHolder {
  float: left;
  font-size: 18px;
  padding: 15px 20px;
  height: 28px;
  line-height: 28px;
}

/* line 102, ../sass/style.scss */
.search-button {
  float: right;
  background: #6cdcac;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 20px 20px;
  color: white;
  font-size: 16px;
}
